*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Candara", sans-serif;
  }
  header
  {
    background-color: rgb(244, 245, 244);
    height: 140px;
    line-height: 40px;
    filter: drop-shadow(0 0 10px gray);
  }
  .Container
  {
    display:flex;
    filter: drop-shadow(0 0 10px gray);
  }
  .imglogo
  {
    width: 230px;
    height: auto;
    padding: 0 15px;
    padding-left: 50px;
    margin-left: 540px;
  }
  
  /*List*/
  .menulist 
  {
      position: relative;
      display:inline-block;
      margin-left: 100px;
      padding-top: 35px;
  }
  
  /*ThongKe*/
  .h2
  {
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 50px;
  }
  h3
  {
    border: 1px solid black;
    background-color: black;
    border-radius: 15px;
    color: white;
    width: 500px;
    height: 70px;
    margin-left: 110px;
    text-align: center;
    padding-top: 20px;
  }
  i
  {
    float: right;
    margin-right: 50px;
  }
  .ThongKe
  {
    display: flex;
  }
  .ThongTin
  {
    display: block;
  }
  .ThongTinChiTiet
  {
    border: 1px solid black;
    border-radius: 15px;
    width: 500px;
    margin-left: 110px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  
  /*Footer*/
  .Footerbottom
  {
      text-align: center;
      background-color: black;
      color: white;
      margin-top: 130px;
  }
  :root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    
}
.space-between {
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.top {
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    top: 0;
    display: block;
    height: 70px;

}
.top.active {
    background-color: rgba(255, 255, 255, 1);
}
.top:hover {
    background-color: rgba(255, 255, 255, 1);
}

.top-logo {
    flex: 1;
}
.top-menu-items {
    flex: 3;
}
.top-menu-items >ul{
    height: 100%;
    display: flex;
}
.top-menu-items > ul > li {
    font-family: var(--main-text-font);
    padding: 0 12px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.top-menu-items ul li::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    bottom: -50%;
}
/* .top-menu-items ul li:nth-child(4) {
    color: red;
}
.top-menu-items ul li:nth-child(5) {
    color: red; 
} */
.top-menu-item {
    position: absolute;
    width: 200px;
    top: 100px;
    left: 0;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #ffff;
    height: auto!important;
    padding: 6px 0 12px 0px;
    border: 1px solid #dddddd;

    
}
.top-menu-items ul li:hover .top-menu-item {
    display: block;
    top: 60px;
    opacity: 1;
}
.top-menu-item  li {
   line-height: 25px;
   display: flex;
   justify-content: left!important;
   transition: all 0.3s ease;
   padding-left: 6px;
  
}
.top-menu-item li:hover {
    background-color: #ebe4e4;
}
.top-menu-item a li {
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    color: #333;
    font-family: var(--main-text-font);
}


/* top-menu-icons */
.top-menu-icons {
    flex: 1;
}
.top-menu-icons ul {
    display: flex;
    height: 100%;
}
.top-menu-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}
.top-menu-icons ul li {
    position: relative;
    
}
.top-menu-icons ul li::before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #333;
    right: 0;
}
.top-menu-icons ul li:last-child::before {
    display: none;
}
.top-menu-icons ul li:last-child a {
    display: flex;
    color: #333;
}
.top-menu-icons ul li:last-child a span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
}
.top-menu-icons ul li:first-child input {
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0 0 4px 6px
    
}
.top-menu-icons ul li:first-child i {
    position: absolute;
    font-size: 12px;
    right: 12px;
}
.top-menu-icons ul i {
    cursor: pointer;
}